mat-form-field {
    display: block;
    width: max-content;
}

.search-filters {
    display: flex;

}

.padded-button {
    margin: 10px;
}

.styled-card{
    width:75%; 
    padding:10px;
    margin: "auto";
}

.mat-form-field {
    margin: 5px;
}